/* ProcessStep.module.css */

.step {
  overflow: hidden;
}

.content {
  font-size: 1rem; /* Adjust the font size as needed */
  line-height: 1.5; /* Adjust the line height as needed */
  opacity: 1; /* Initially set the opacity to 0 to hide the content */
  max-height: 0; /*  Initially set the max height to 0 to hide the content */
  overflow: hidden; /* Hide overflowing content */
  transition: max-height 0.7s ease-in-out; /* Add a transition for smoother animation */
  padding-right: 5vw;
}

.expanded {
  opacity: 1; /* When expanded, change opacity to 1 to reveal the content */
  max-height: 400px; /*Set a maximum height for expanded content */
}
